*{
	margin: 0;
	padding: 0;
}
header{
	background-color: darkgrey;
	margin: auto;
	text-align: center;
}
body{
	background-color: white;
	margin: 0;
}
.container{

}
.page{
	background-color: lightgrey;
	width: 70%;
	max-width: 960px;
	height: auto;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
    box-shadow: 10px 10px #3b1b72;
}