/*
   COLORS:
   Vanilla          #fffdeb
   Chocolate        #512c0b
   Milk Chocolate   #ce9961
   Pink             #ff9ec7
   Light Pink       #fdd9e9
*/
.nav {
    font-family: 'Mali', cursive;
    font-size: 20px;

	width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px 0;
    overflow: hidden;
    background-color: #512c0b;
    color:#fffdeb;

    text-align: center;
}

.nav ul {
   
}

.nav li {
   display: inline;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1.5% 6%;
    width: 20%;
}

.nav li a:hover {
	display: inline-block;
    color: #ff9ec7;
}
.title {
    font-family: 'Mali', cursive;
    text-align: center;
}

h1 {
    font-family: 'Mali', cursive;
    text-align: center;
}