.nav {
    font-family: 'Mali', cursive;

	width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.nav ul {
   
}

.nav li {
   display: inline;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1.5% 6%;
    width: 9%;
}

.nav li a:hover {
	display: inline-block;
    background-color: #111;
}
.title {
    font-family: 'Mali', cursive;
    text-align: center;
}

h1 {
    font-family: 'Mali', cursive;
    text-align: center;
}